# VCS / CI
.git
.github
.gitignore
.gitattributes
artifacts
reports
build
dist
*.tar
*.zip
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.tox/
.cache/
.coverage
coverage.xml
htmlcov/
.env
.env.*

# Node (se houver)
node_modules/
npm-debug.log*
yarn-error.log*
.next/
out/

# IDE / SO
.idea/
.vscode/
.DS_Store
Thumbs.db
